h1 {
    text-align: center;
  }

canvas {
    border: 1px solid black;
}


/* .wrapper {
  display:inline-flex;
  justify-content:baseline;
} */

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.left-panel {
  width: 30%;
  float: left;
}

.content {
  width: 70%;
  float:left;
}